/*------------ USED ACROSS THE SITE ------------*/

body, html {
  height: 100%;
  margin: 0;
  background-image: url("../img/bookkeeping.jpg/");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
}


a { color: inherit; 
} 


.card-panel {
  border-bottom: solid 1px white;
  border-top: solid 1px white;;
  border-right: solid 1px white;
  border-left: solid 1px white;
}

#username, #password, #client_organization, #client_name, #client_position, #client_email { 
  border-bottom: 1px white; 
  box-shadow: 0 1px 0 0 white;
}


/*------------ CLIENT INFO PAGE------------*/

  .btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}


/*------------ EDIT CLIENT PAGE & INVOICE PAGE ------------*/

.flex-parent {
  display: flex;
  min-height: 0px;
  justify-content: center;
}


/*------------ INVOICE PAGE ------------*/

.frame {
  padding-bottom: 2em;
}


/*------------ MEDIA QUERIES ------------*/

@media only screen and (max-width: 599px) {
  nav .brand-logo {
      font-size: 1.5em;
      text-align: left;
  }  

  .welcome {
    font-size: 3em;
  }

  #editbutton, #deletebutton {
    display: block;
  }
}