body, html {
    height: 100%;
    margin: 0;
  }
  
.bg {
  /* The image used */
  background-image: url("../img/bookkeeping.jpg/");
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#username, #password { 
  border-bottom: 1px white; 
  box-shadow: 0 1px 0 0 white;
}

  .btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}