<!--- credit: code taken from https://github.com/Code-Institute-Solutions/TaskManagerAuth/tree/main/08-SearchingWithinTheDatabase/01-text_index_searching and edited to fit project needs -->

{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Client</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix light-blue-text text-darken-4"></i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Name</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-briefcase prefix light-blue-text text-darken-4"></i>
                    <input id="icon_briefcase" type="tel" class="validate">
                    <label for="icon_briefcase">Position</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-building prefix light-blue-text text-darken-4"></i>
                    <input id="icon_building" type="text" class="validate">
                    <label for="icon_building">Organization</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-at prefix light-blue-text text-darken-4"></i>
                    <input id="icon_at" type="tel" class="validate">
                    <label for="icon_at">Email</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}