<!--- credit: code taken from https://github.com/Code-Institute-Solutions/TaskManagerAuth/tree/main/08-SearchingWithinTheDatabase/01-text_index_searching and edited to fit project needs -->

{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for clientInfo in clientInfo %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ clientInfo.client_organization }}</strong> 
            </div>
            <div class="collapsible-body">
                <p>{{ clientInfo.client_name }}</p>
                <p>{{ clientInfo.client_position }}</p>
                <p>{{ clientInfo.client_email }}</p>
                <p>{{ clientInfo.category_name }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
        


