<!--- credit: code taken from https://github.com/Code-Institute-Solutions/TaskManagerAuth/tree/main/08-SearchingWithinTheDatabase/01-text_index_searching and edited to fit project needs -->

{% extends "base.html" %}
{% block content %}

    INVOICE
    <body onload="myFunction()"></body>
    <p id="demo"></p>

    {% for clientInfo in clientInfo %}
        {{ clientInfo.client_name }}<br>
        {{ clientInfo.client_position }}<br>
        {{ clientInfo.client_organization }}<br>
        {{ clientInfo.client_email }}<br>
    {% endfor %}

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email_inline" type="email" class="validate">
            <label for="email_inline">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
          </div>
        </div>
      </div>
    </form>
  </div>

<!--- credit: code taken from https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_tolocaledatestring and edited to fit project needs -->
<script>
    function myFunction() {
        const options = {year: 'numeric', month: 'long', day: 'numeric' };
        var d = new Date();
        var n = d.toLocaleDateString('en-US', options);
        document.getElementById("demo").innerHTML = n;
}
</script>

{% endblock %}
        
