<!--- credit: code taken from https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+DCP101+2017_T3/courseware/9e2f12f5584e48acb3c29e9b0d7cc4fe/579bbf01edaf47938e6a860b8f08f275/?child=first and edited to fit project needs -->

{% extends "base.html" %}
{% block content %}


    {% for clientInfo in clientInfo %}
        {{ clientInfo.client_name }}<br>
        {{ clientInfo.client_position }}<br>
        {{ clientInfo.client_organization }}<br>
        {{ clientInfo.client_email }}<br>
    {% endfor %}

{% endblock %}
