<!--- credit: code taken from https://github.com/Code-Institute-Solutions/TaskManagerAuth/tree/main/08-SearchingWithinTheDatabase/01-text_index_searching and edited to fit project needs -->

{% extends "base.html" %}
{% block content %}

    <h4 class="amber-text text-accent-3 left-align">Katja Schatte</h4>
    <h5 class="amber-text text-lighten-3 left-align">Interpreting ∙ Translation ∙ Language Justice Consulting</h5>
    <h6 class="amber-text text-lighten-3 left-align">katja@lettersandbytes.com</h6>       
        
    <div>
        <h1 class="amber-text text-accent-3 center-align" style="text-align: left;">Invoice</h1>
        
        <p id="demo" class="white-text" style="text-align: left;"></p>
        <script>
            /* credit: code taken from https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_tolocaledatestring and edited to fit project needs */
            function myFunction() {
               const options = {year: 'numeric', month: 'long', day: 'numeric' };
               var d = new Date();
               var n = d.toLocaleDateString('en-US', options);
               document.getElementById("demo").innerHTML = n;
           }
        </script>
        
        <div class="row card-panel amber lighten-5" >
            <p style="font-weight: 700;">Client:</p>
            <form class="col s12" methods="POST" action="{{ url_for('invoice') }}">
                <!-- client selection -->
                <div class="row">
                    <form class="" action="/" method="post">
                        <select onChange="changeRate()" id="client_organization" name="client_organization">
                            <option value="" disabled selected>Choose client</option>
                            {% for clientInfo in clientInfos %}
                                <option value="{{ clientInfo.client_email }}">{{ clientInfo.client_organization }}</option>
                            {% endfor %}
                        </select>
                        <label for="client_organization">Client Organization</label>
                    </form>  
                </div>
                <div id='clientName'><p>Client Name</p></div>
                <div id='clientPosition'><p>Client Position</p></div>
                <div id='clientEmail'><p>Client Email</p></div>
            </form>
        </div> 

        <div class="row card-panel amber lighten-5" >
            <p style="font-weight: 700;">Work Description:</p>
            <div class="row">
                <div class="col s12">
                    <div class="input-field col12">
                        <input id="text_inline" type="text" class="validate">
                        <label for="text_inline">Event Name</label>
                        <span class="helper-text" data-error="Entry not valid" data-success=""></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field col12">
                        <input id="text_inline" type="text" class="validate">
                        <label for="text_inline">Event Date(s) & Time(s)</label>
                        <span class="helper-text" data-error="Entry not valid" data-success=""></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row card-panel amber lighten-5" >
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="input-field col s12">
                                <select id="rate_type" name="rate_type" class="validate" method="GET" required>
                                    <option value="" disabled selected>Choose rate type</option>
                                    {% for rateType in rateTypes %}
                                        <option value="{{ rateType.rate_type }}">{{ rateType.rate_type }}</option>
                                    {% endfor %}
                                </select>
                                <label for="rate_type" class="black-text">Interpreting</label>
                            </div>
                        </td>
                        <td>
                            <div class="input-field col s12">
                                  <select onchange="add_number()" id="interpreting_amount" name="interpreting_amount" class="validate" method="GET" required>
                                      <option value="" disabled selected>Choose amount</option>
                                      {% for interpretingAmount in interpretingAmounts %}
                                          <option value="{{ interpretingAmount.interpreting_amount }}">{{ interpretingAmount.interpreting_amount }}</option>
                                      {% endfor %}
                                  </select>
                                  <label for="interpreting_amount" class="black-text">Amount</label>
                            </div>
                          </td>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="input-field col s12">
                                <select id="consulting" name="consulting" class="validate" method="GET">
                                    <option value="" disabled selected>Billable consulting?</option>
                                    {% for consulting in consultings %}
                                        <option value="{{ consulting.consulting }}">{{ consulting.consulting }}</option>
                                    {% endfor %}
                                </select>
                                <label for="consulting" class="black-text">Consulting</label>
                            </div>
                        </td>
                        <td>
                            <div class="input-field col s12">
                                  <select onchange="add_number()" id="consulting_amount" name="consulting_amount" class="validate" method="GET">
                                      <option value="" disabled selected>Choose amount</option>
                                      {% for consultingAmount in consultingAmounts %}
                                          <option value="{{ consultingAmount.consulting_amount }}">{{ consultingAmount.consulting_amount }}</option>
                                      {% endfor %}
                                  </select>
                                  <label for="consulting_amount" class="black-text">Amount</label>
                            </div>
                          </td>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight: 700; text-align: right;">TOTAL &nbsp; &nbsp; &nbsp; $</td>
                        <td><input type="text" id="txtresult" name="TextBox3"></td>
                    </tr>
                </tbody>
              </table>
        </div>
        <div class="flex-parent frame">
            <button class="col s12 btn-large cyan lighten-4 black-text" type="submit">Download PDF
                <a href="https://api.html2pdfrocket.com/pdf?value=http://katjas-invoicing-app.herokuapp.com/invoice&apikey=dc67c5f0-34b7-48c2-be1d-ccee3b855f7d"></a>
            </button>
        </div>
        

{% endblock %}