<!--- credit: code taken from https://github.com/Code-Institute-Solutions/TaskManagerAuth/tree/main/08-SearchingWithinTheDatabase/01-text_index_searching and edited to fit project needs -->

{% extends "base.html" %}
{% block content %}

    <div>
        <h3 class="amber-text text-accent-3 center-align" style="text-align: left;">Invoice</h3>
        
        <p id="demo" class="white-text" style="text-align: left;"></p>
        <script>
            /* credit: code taken from https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_tolocaledatestring and edited to fit project needs */
            function myFunction() {
               const options = {year: 'numeric', month: 'long', day: 'numeric' };
               var d = new Date();
               var n = d.toLocaleDateString('en-US', options);
               document.getElementById("demo").innerHTML = n;
           }
        </script>
        
        <p>Client:</p>
        <div class="row card-panel grey lighten-5" >
            <form class="col s12" methods="POST" action="{{ url_for('invoice') }}">
                <!-- client selection -->
                <div class="row">
                    <form class="" action="/" method="post">
                        <select onChange="changeRate()" id="client_organization" name="client_organization">
                            <option value="" disabled selected>Choose client</option>
                            {% for clientInfo in clientInfos %}
                                <option value="{{ clientInfo.client_email }}">{{ clientInfo.client_organization }}</option>
                            {% endfor %}
                        </select>
                        <label for="client_organization">Client Organization</label>
                    </form>  
                </div>
            </form>
        </div>
        <div id='clientName'><p>#clientName based on client organization</p></div>
        <div id='clientPosition'><p>#clientName based on client organization</p></div>
        <div id='clientEmail'><p>#clientName based on client organization</p></div>
   
        <table class="responsive-table">
            <thead>
              <tr>
                  <th>
                    <select onChange="changeRate()" id="client_organization" name="client_organization">
                        <option value="" disabled selected>Choose client</option>
                        {% for clientInfo in clientInfo %}
                            <option value="{{ clientInfo.category_name }}">{{ clientInfo.client_organization }}</option>
                        {% endfor %}
                    </select>
                  </th>
                  <th></th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>#rates name based on org</td>
                <td>#number based on rate</td>
              </tr>
            </tbody>
          </table> 
    </div> 
{% endblock %}
{% block scripts %}
          <script>
             /* credit: code taken from https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_tolocaledatestring and edited to fit project needs */
             function myFunction() {
                const options = {year: 'numeric', month: 'long', day: 'numeric' };
                var d = new Date();
                var n = d.toLocaleDateString('en-US', options);
                document.getElementById("demo").innerHTML = n;
            }

            /* credit: thank you to Joshua Ugba for helping me make Python and JavaScript communicate with each other */
            let clientInfoList =  []
            fetch('/api/invoice')
             .then(res => res.json())
             .then(list => clientInfoList = list)

            function changeRate() {
              let email = document.getElementById('client_organization').value
              let client = clientInfoList.filter((client) => client.client_email == email)[0]
              document.getElementById('clientName').innerHTML = `<p>${client.client_name}</p>`
              document.getElementById('clientPosition').innerHTML = `<p>${client.client_position}</p>`
              document.getElementById('clientEmail').innerHTML =`<p>${client.client_email}</p>`
          }
        </script>  
{%  endblock %} 
