<!--- credit: code taken from https://github.com/Code-Institute-Solutions/TaskManagerAuth/tree/main/08-SearchingWithinTheDatabase/01-text_index_searching and edited to fit project needs -->

{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel cyan darken-3 text-shadow" style="margin-top: 3em;">
                <h1 class="center-align amber-text text-accent-3 center-align">
                    Welcome, {{ username }}!
                </h1>
            </div>
        </div>
        <div class="col s12 m8 offset-m2">
            <div class="card-panel cyan lighten-4 text-shadow" style="margin-top: 1em;">
                <ul class="left-align black-text left-align" style="line-height: 2;">
                    <li style="font-weight: 700;">The Interpreter Invoicing App allows you to</li>
                    <li>- <a href="{{ url_for('add_client') }}" style="color:#e65100">Add new clients</a></li>
                    <li>- <a href="{{ url_for('get_clientInfo') }}" style="color:#e65100">Manage exiting client information</a></li>
                    <li>- <a href="{{ url_for('invoice') }}" style="color:#e65100">Create invoices</a> based on the rate information for each client</li>
                <ul>    
            </div>
        </div>
    </div>

{% endblock %}