<!--- credit: code taken from https://github.com/Code-Institute-Solutions/TaskManagerAuth/tree/main/08-SearchingWithinTheDatabase/01-text_index_searching and edited to fit project needs -->

{% extends "base.html" %}
{% block content %}

    <h1 class="amber-text text-accent-3 center-align">Register</h1>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel cyan darken-3">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix white-text"></i>
						<input id="username" class="white-text" name="username" type="text" minlength="5"
                            maxlength="20" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username" class="white-text">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix white-text"></i>
                        <input id="password" class="white-text" name="password" type="password" minlength="14"
                            maxlength="20" pattern="^[a-zA-Z0-9]{14,20}$" class="validate" required>
                        <label for="password" class="white-text">Password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large cyan lighten-4 black-text" aria-label="Register">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p class="center-align white-text" style="margin-top: 2em;">
                            Already Registered?
                            <a href="{{ url_for('login') }}" class="amber-text text-accent-3">Log In.</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>

    

{% endblock %}